@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  margin: 0;
  outline: none;
  padding: 0;
}

a{cursor: pointer; text-decoration: none;}

* ::-webkit-input-placeholder {
  color: #c1c2c3;
}

* :-ms-input-placeholder {
  color: #c1c2c3;
}

* ::-ms-input-placeholder {
  color: #c1c2c3;
}

* ::placeholder {
  color: #c1c2c3;
}

::-webkit-scrollbar {
  width: 0px;
}

body, body .card, body .card .center, body .board, body .chat .msgDiv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  position: relative;
  background: #010203;
  height: 100vh;
}

body .error{
  font-weight: bold;
  z-index: 1;
  color: white;
  font-size: 24px;
}

body .card {
  
  position: relative;
  background: #f1f2f3;
  border-radius: 25px;
  width: 50vh;
  height: 65vh;
  z-index: 1;
}

body .card,
body .card input {
  font-size: 20px;
}

body .card input {
  background: none;
  border: none;
  text-transform: capitalize;
  width: 100%;
}

body .card .suit {
  color: #010203;
}

body .card .corner {
  margin: 30px;
  position: absolute;
  width: 25%;
}

body .card .corner,
body .card .corner input {
  text-align: center;
}

body .card .corner#left {
  top: 0;
  left: 0;
}

body .card .corner#right {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .card .corner .suit {
  font-size: 28px;
}

body .card .center {
  position: relative;
  cursor: pointer;
}

body .card .center input{
  color: #f1f2f3;
  z-index: 2;
  font-size: 24px;
  cursor: pointer;
}
body .card .center .startbet{
  cursor: text;
    position: absolute;
    top: 150px;
    left: 25px;
    width: 70px;
    text-align: center;
    color: black;
}


body .card .center .suit {
  position: absolute;
  top: -300px !important;
  font-weight: bold;
  font-size: 400px;
}

body .waiting {
  color: #f1f2f3;
  text-align: center;
  z-index: 1;
}

body .waiting h1 {
  font-size: 48px;
}

body .waiting #counter {
  font-size: 24px;
}

body .board {
  position: absolute;
  left: 0;
  width: 100%;
  background: #35654d;
  height: 100vh;
  overflow: hidden;
}

body .chat {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: auto;
  margin: 10px;
  border-radius: 25px;
  background-color: rgba(0,0,0, 0.3);
  /* filter: blur(8px); */
  /* -webkit-filter: blur(1px); */
}

body .chat #history {
  top: 20px;
  height: 15vh;
  padding: 30px;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body .chat #title {
  margin-top: 10px;
  text-align: center;
}

body .chat .msgDiv {
  height: 8vh;
}

body .chat .msgDiv #msg {
  border: none;
  background: #010203;
  border-radius: 25px;
  color: #f1f2f3;
  padding: 15px;
  font-size: 20px;
  width: 340px;
}

.liveboard{width: 100%;
  display: flex;
  justify-content: center;
}
.dealer{
  position: absolute;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}.dealer .score{font-size: 25px;margin-bottom: 8px;}.dealer .hand{}.dealer .hand img{width: 120px;}

.container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 100px;
}
.player{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  margin: 50px;
}.player .score{font-size: 25px;}.player .hand{width: 200px;}.player .hand img{width: 100px;}
.reward{font-size: 30px; padding: 5px;}


.msgreward{
  font-size: 30px;
  bottom: 300px;
  position: absolute;
  padding: 10px;
  width: 400px;
  border: 2px solid #010203;
  background-color: #35654dd4;
  text-align: center;
  border-radius: 25px;
}

#active
{
  font-size: 25px;
  animation: yourturn 2.5s infinite;
}
@keyframes yourturn {
  0%{color: black;font-size: 25px;}
  50%{color: red; font-size: 50px;}
  100%{color: black;font-size: 25px;}
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.commands
{
  position: absolute;
  top: 60vh;
  left: 50;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.btnstop {
  margin-left: 250px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: red;
  font-size: 20px;
}
.btnstop:hover {
  color: black !important;
}
.btnstop:after {
  transition: 0.6s all ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border: 8px solid red;
}
.btnstop:before {
  content: "";
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: red;
  z-index: -1;
}
.btnstop:hover:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btnstop:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.btnstop:hover:before {
  background-color: red;
}
.btnstop:hover:after {
  border-color: red;
}

.newgame{
  position: absolute;
  top: 17vh;
  color: white;
  width: 500px;
  background: black;
  padding: 10px;
  /* line-height: 2.4; */
  /* font-weight: 300; */
  text-align: center;
  border-radius: 20px;
  /* font-size: 32px; */
  cursor: pointer;
  transition: 0.6s all ease;
}
.newgame:hover{
  color: #35654d;
}

.btncard {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.btncard:hover {
  color: black !important;
}
.btncard:after {
  transition: 0.6s all ease;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;
  border: 8px solid white;
}
.btncard:before {
  content: "";
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  z-index: -1;
}
.btncard:hover:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btncard:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.btncard:hover:before {
  background-color: white;
}
.btncard:hover:after {
  border-color: white;
}

footer
{
position: absolute;
width: 100%;
background-color: black;
bottom: 0;
color: #f1f2f3;
text-align: center;
} footer a p {
font-size: 20px;
padding: 10px;
color: #f1f2f3;
text-decoration: none;
} footer .balance{
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */